@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #31324c;
}

.wrapper{
  width: 370px;
  margin: 130px auto 0;
}

.select-btn, .options li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.select-btn{
  height: 65px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  font-size: 22px;
}

.select-btn i {
  font-size: 31px;
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
  transform: rotate(-90deg);
  background-color: red;
}

.content{
  display: none;
  background: #a66363;
  margin-top: 15px;
  padding: 20px;
  border-radius: 7px;
}

.wrapper.active .content {
  display: block;
}

.content .search{
position: relative;
}

.search i {
  position: absolute;
  left: 15px;
  line-height: 53px;
  color: #999;
}

.search input {
  height: 53px;
  width: 100%;
  font-size: 17px;
  padding: 0 15px 0 43px;
  outline: none;
  border-radius: 7px;
  border: none;
}

.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}

.options::-webkit-scrollbar {
  width: 5px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

.options li {
  height: 30px;
  padding: 0 13px;
  font-size: 21px;
  border-radius: 5px;
}

.options li:hover, li.selected{
  background: #f2f2f2;
}
